<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Vehicle Cybersecurity<br>Requirements Finder</div>
                <div class="list-group list-group-flush"style="width: 320px;">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/개발단계">개발 단계</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/생산단계">생산 단계</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/생산후단계">생산 후 단계</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/사이버보안위험">사이버보안 위험 식별 및 관리</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/위험평가분석">위험 평가 분석 및 주요사항 식별</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/위험관리확인">테스트를 포함한 위험 관리 확인</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/위험평가최신">위험 평가 최신 상태로 유지 확인</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/사이버공격">사이버 공격에 대한 예방 조치 확인</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/사이버보안성공">사이버보안 성공 사례 분석 지원</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/완화조치">완화 조치가 의도대로 제공하는지 식별</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/모니터링대응">사이버보안 공격 모니터링 및 대응</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/하위조직">하위 조직과의 종속성</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">

                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="/homepage">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid" style="margin-top:60px;">
                    <h1 class="mt-4">check requirements</h1>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity Interface agreement</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 조직은 공급업체의 역량을 분석하여 모든 공급업체의 사이버보안 역량을 평가하였는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 모든 견적 요청에는 공급업체의 사이버보안 책임에 대한 기대가 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="03"> [3] 조직의 모든 공급업체와 사이버보안 인터페이스 계약을 이행하고 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="04"> [4] 사이버보안 인터페이스 계약에는 고객과 공급업체의 역할과 책임이 모두 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="05"> [5] 고객과 공급업체 간의 사이버보안 역할과 책임을 확실하게 전달하기 위한 커뮤니케이션 계획이 있는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Item definition</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 사이버보안 모범 사례의 구현을 보장하기 위해 아이템 정의를 수행했는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 아이템 정의에 아이템 바운더리, 기능 및 아키텍처가 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="03"> [3] 아이템 정의에 사이버보안과 관련하여 아이템의 운영 환경이 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="04"> [4] 아이템 정의에 제약 조건 및 규정 준수에 대한 요구사항이 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="05"> [5] 아이템 정의는 아이템 정의 프로세스 중에 이루어진 가정을 반영하는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">TARA</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 지정된 아이템에 대한 모든 자산을 포함하는 TARA가 수행되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity goals</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] CAL과 같은 사이버보안 목표가 각 특정 아이템에 대한 위험, 위협 계획에 기초하여 정의되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity claims</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 위협 시나리오의 위험 감소로 이어지는 운영 호나경에 대한 사이버보안 클레임이 언급되었는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 위험을 공유하거나 이전하는 위험 처리 옵션에 대해 사이버보안 클레임이 언급되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Verification report for cybersecurity goals</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 문서화된 보고서를 통해 사이버보안 목표 및 사이버보안 클레임을 결정하는 프로세스가 검증되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity concept</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 특정 아이템의 사이버보안 목표를 충족하는데 필요한 사이버보안 요구사항을 구체화하는 삳이버보안 컨셉이 문서화되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Verification report of cybersecurity concept</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 사이버보안 컨셉이 보고서를 통해 검증되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity specifications</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 높은 수준에서 할당된 사이버보안 요구사항에 기초하여 제품 개발을 위한 사이버보안 요구사항이 정의되었는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 더 높은 수준의 아키텍처 설계에 기초하여 제품 개발을 위한 사이버보안 요구사항이 정의되었는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="03"> [3] 사이버보안 요구사항에 적용 가능한 사이버보안 통제가 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="04"> [4] 다양한 사이버보안 요구사항의 적용 가능성을 보장하기 위해 설계된 아키텍처가 개선되었는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="05"> [5] 사이버보안 요구사항을 충족하기 위해 적용할 수 있는 정제된 아키텍처 설계 컴포넌트들 사이의 접점이 식별되었는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity requirements for post-development</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 사이버보안 요구사항을 나열하면서 개발 단계에 대한 사이버보안애 대한 영향을 고려하였는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 개발 후 단계에서 사이버보안을 보장하기 위한 구체적인 사이버보안 요구사항이 문서화되었는가?</label></p>
                        </form>
                    </div>  
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Documentation of the modelling, design, or programming languages and coding guidelines</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 사이버보안을 위한 적합한 설계, 모델링 및 프로그래밍 언어에 대한 기준이 확립되었는가?</label></p>
                        </form>
                    </div>
                    <br>    
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Weaknesses found during product development</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 개선된 아키텍처 설계와 사이버보안 요구사항의 약점을 식별하기 위해 취약성 분석을 수행했는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 취약성 분석이 최종 문서화된 보고서로 제시 되었는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Verification report for the cybersecurity specifications</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 정제된 사이버보안 요구사항 및 아키텍처 설계가 문서화된 보고서로 확인되었는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Integration and verification report</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 정제된 사이버보안 요구사항의 준수를 보장하기 위한 검증 활동을 수행하였는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 통합 및 검증 활동이 문서화된 보고서에 요약되어 있는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Integration and verification specification</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 개발 단계에 대한 통합 및 검증 사양이 정의되었는가?</label></p>
                        </form>
                    </div>
                    <br>      
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Validation report</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 컨셉 및 제품 개발 단계에서 특정 아이템에 대해 식별된 위험과 수용 근거를 상세히 설명하는 검증 보고서가 작성되었는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Production control plan</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 개발 단계에서 사이버보안 요구사항을 적용하기 위한 생산 관리 계획이 수립되었는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 생산 관리 계획은 개발 후 단계를 위해 나열된 사이버보안 요구사항이 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="03"> [3] 생산 관리 계획에는 생산 과정에서 사이버보안 요구사항을 달성하는 방법에 대한 세부 사항이 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="04"> [4] 생산 관리 계획의 무단 변경 시 아이템 또는 컴포넌트를 구성하는 방법에 대한 세부 사항이 포함되어 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="05"> [5] 생산 관리 계획에는 생산 과정에서 사이버보안 요구사항이 충족되었는지 확인하기 위한 활동이 포함되어 있는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Damage scenarios</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 도로 차량의 기능에 관련된 자산의 데미지 시나리오를 식별하기 위한 프로세스가 시행되고 있는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Assets with cybersecurity properties</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 조직 내 도로 차량과 관련된 모든 자산을 식별한 자산 목록이 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 사이버보안 속성을 가진 자산 중 데미지 시나리오를 초래하는 자산을 자산 목록에 상세히 기술하고 있는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Threat scenarios</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 위협 시나리오를 조직 자산에 적용할 수 있는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Impact ratings with associated impact categories</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 다양한 데미지 시나리오에 대한 안전, 재정, 운영 및 개인정보(S, F, O, P)에서 조직에 미치는 영향을 평가하고 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="02"> [2] 각 독립된 범주(예: 안전, 재정, 운영, 개인정보(S, F, O, P))에 대한 다양한 데미지 시나리오에 대한 영향 등급이 식별되는가?</label></p>
                        </form>
                    </div>
                    <br>  
                    <form style="float:right;">
                        <input class="blue-button" type="button" value="Check the Results" onclick="window.location.href='/checkresult/생산체크결과'; clickBtn();">
                    </form>
                    <div id="output"></div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/개발단계.js"></script>
    </body>
</html>
