<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Vehicle Cybersecurity<br>Requirements Finder</div>
                <div class="list-group list-group-flush"style="width: 320px;">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/개발단계">개발 단계</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/생산단계">생산 단계</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/생산후단계">생산 후 단계</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/사이버보안위험">사이버보안 위험 식별 및 관리</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/위험평가분석">위험 평가 분석 및 주요사항 식별</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/위험관리확인">테스트를 포함한 위험 관리 확인</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/위험평가최신">위험 평가 최신 상태로 유지 확인</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/사이버공격">사이버 공격에 대한 예방 조치 확인</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/사이버보안성공">사이버보안 성공 사례 분석 지원</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/완화조치">완화 조치가 의도대로 제공하는지 식별</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/모니터링대응">사이버보안 공격 모니터링 및 대응</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/describe/하위조직">하위 조직과의 종속성</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">

                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="/homepage">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid" style="margin-top:60px;">
                    <h1 class="mt-4">check requirements</h1>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity policy, rules and processes</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 도로 차량에 대한 사이버보안 위험 및 조직에 대한 위험으로부터 자산을 보호하기 위한 경영진의 약속을 인정하는 사이버보안 정책을 가지고 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [2] 사이버보안 관리 체계(CSMS)를 보유하고 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [3] 사이버보안 관리 체계(CSMS)는 조직 내 사이버보안 활성화에 필요한 모든 관련 규칙 및 프로세스, 사이버보안 책임 및 자원을 나열하고 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [4] 사이버보안 관리 체계(CSMS)는 조직 내 데이터 자산을 보호하기 위한 역할과 책임을 부여하고 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [5] 사이버보안 관리 체계(CSMS)는 조직 내 데이터 자산의 보호와 관련된 이해관계자를 명시하고 있는가? 그리고 그들의 사이버보안 책임을 효과적으로 소통하고 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [6] 사이버보안에 대한 책임이 효과적으로 수행될 수 있도록 적절한 리소스가 할당되었는가? 그리고 경영진은 조직이 수용할 수 있는 적절한 수준의 리스크를 정의하였는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Weaknesses from cybersecurity events</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 아이템에 대한 취약점을 식별하기 위해 사이버보안 이벤트로부터 약점을 평가했는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Vulnerability analysis</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [2] 약점에 대한 평가가 최종 문서화된 보고서로 제시 되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">TARA</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 지정된 아이템에 대한 모든 자산을 포함하는 TARA가 수행되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity goals</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] CAL과 같은 사이버보안 목표가 각 특정 아이템에 대한 위험, 위협 계획에 기초하여 정의되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity claims</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 위협 시나리오의 위험 감소로 이어지는 운영 호나경에 대한 사이버보안 클레임이 언급되었는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [2] 위험을 공유하거나 이전하는 위험 처리 옵션에 대해 사이버보안 클레임이 언급되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Verification report for cybersecurity goals</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 문서화된 보고서를 통해 사이버보안 목표 및 사이버보안 클레임을 결정하는 프로세스가 검증되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Cybersecurity concept</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 특정 아이템의 사이버보안 목표를 충족하는데 필요한 사이버보안 요구사항을 구체화하는 삳이버보안 컨셉이 문서화되었는가?</label></p>
                        </form>
                    </div>
                    <br>                    
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Impact ratings with associated impact categories</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 다양한 데미지 시나리오에 대한 안전, 재정, 운영 및 개인정보(S, F, O, P)에서 조직에 미치는 영향을 평가하고 있는가?</label></p>
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [2] 각 독립된 범주(예: 안전, 재정, 운영, 개인정보(S, F, O, P))에 대한 다양한 데미지 시나리오에 대한 영향 등급이 식별되는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Attack feasibility ratings</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 각 공격 경로에 대해 공격 가능성 등급이 결정 되었는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Risk values</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 각 위협 시나리오에 대해 공격 경로를 분석하였는가?</label></p>
                        </form>
                    </div>
                    <br>                
                    <div style="background-color:white; border:1px solid black; margin-left: 10px; margin-right: 10px;">
                        <p style="margin-left: 10px; margin-top: 10px; font-size:larger;">Risk treatment decisions</p>
                        <form style="margin-left: 10px;">
                            <p style="line-height: 1px;"><label><input type="checkbox" name="number" value="01"> [1] 확인된 위협 시나리오 및 관련 위험에 대한 위험 처리 결정을 수치화하는 위험 및 위협 계획이 있는가?</label></p>
                        </form>
                    </div>
                    <br>
                    <form style="float:right;">
                        <input class="blue-button" type="button" value="Check the Results" onclick="window.location.href='/checkresult/생산체크결과'; clickBtn();">
                    </form>
                    <div id="output"></div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/위험평가분석.js"></script>
    </body>
</html>
