<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/homestyles.css">
    <title>Vehicle Security Requirements Finder</title>
</head>
<body >
    <div id="wrap">
        <p id = "name">Cybersecurity Requirements Finder</p>
        <div id="contents1">
            <img class = "fit-picture" src="/static/picture/Solution map.jpeg">
            <a href="solutionpic/solutionpic" class="more">Solution Map</a>
        </div>
        <div id="contents2">
            <img class = "fit-picture" src="/static/picture/CSMS Requirement.jpeg">
            <a href="describe/개발단계" class="more">CSMS Requirement</a>
            <ul class="intro">Made by ITSSL</ul>   
        </div>
    </div>
</body>
</html>